{% extends "base.html" %}
{% set active_page = 'none' %}

{% block content %}
<div class="container">
    <div class="container p-3 mx-auto text-center">
        <h2>Have you voted today?</h2>
        <a href="/vote" class="btn btn-primary btn-lg">Vote Here</a>
    </div>
    <section>
        <h2>Welcome to my Smart Garden</h2>
        <p>
            This is a democratic plant care system, where users vote whether my plant, Penny, should be watered today.
            Penny is a <a href="https://en.wikipedia.org/wiki/Pilea_peperomioides">Chinese Money Plant (Pilea
                peperomioides) </a>
            and thrives in medium to bright light and well draining soil. It's best when the soil is allowed to dry
            between waterings.
        </p>
    </section>

    <section>
        <h2>About Voting</h2>
        <p>
            You may vote once per day, resetting at midnight (Central Time). Feel free to check out the live data to
            make
            an informed decision about whether Penny needs water today, or vote however you'd like! If the majority
            votes in favor of watering Penny, the water pump will be activated at midnight.
        </p>
    </section>

    <section>
        <h2>Questions or Comments</h2>
        <p>
            If you notice any bugs or have any questions or comments, please
            <a href="https://www.reddit.com/message/compose/?to=Gabgra11">send me a message via Reddit!</a>
        </p>
    </section>
</div>
{% endblock %}