{% extends "base.html" %}
{% set active_page = 'stats' %}

{% block head %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Moisture</div>
                <div class="card-body">
                    <div id='moistChart' class='moistChart'”></div>
                    <script type='text/javascript'>
                        var graphs = {{ moistJSON | safe }};
                        Plotly.plot('moistChart',graphs,{});
                    </script>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Humidity</div>
                <div class="card-body">
                    <div id='humidChart' class='humidChart'”></div>
                    <script type='text/javascript'>
                        var graphs = {{ humidJSON | safe }};
                        Plotly.plot('humidChart',graphs,{});
                    </script>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Temperature</div>
                <div class="card-body">
                    <div id='tempChart' class='tempChart'”></div>
                    <script type='text/javascript'>
                        var graphs = {{ tempJSON | safe }};
                        Plotly.plot('tempChart',graphs,{});
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}